<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Your Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <form>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Birthdate</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">phone</ion-label>
          <ion-input></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="stacked">Occupation</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
      </div>

    </form>
  </ion-content>
</ion-app>